doctype html
html(lang="hu")
	head
		include ./jade_includes/head.jade
	body
		section.container
			.row
				.col-sm-12
					.banner
						h1 Grafikus - adminisztrátor - ref anyag

			.row
				.col-sm-12
					.row
						.col-md-6.col-sm-12
							.row
								.col-sm-12
									.tile.h05
										a#button.tile-cont.me(href="#" data-name="me")
											h3.title Rólam
											span.triangle
											.tile-cont-blk
												span CV, ref, etc...
													i.icons
						.col-md-6.col-sm-12
							.row
								.col-sm-12
									.tile.h05
										a#button.tile-cont.banner(href="#" data-name="banner")
											h3.title Bannerek
											span.triangle
											.tile-cont-blk
												span az öt banner...
													i.icons
						//- .col-md-4.col-sm-12
						//- 	.row
						//- 		.col-sm-12
						//- 			.tile
						//- 				a#button.tile-cont.demo(href="#" data-name="demo")
						//- 					h3.title Demo oldal
						//- 					span.triangle
						//- 					.tile-cont-blk
						//- 						span csak egy ötlet...
						//- 							i.icons
			.row
				.col-sm-12
					include ./jade_includes/me.jade
			.row
				.col-sm-12
					include ./jade_includes/banner.jade
			.row
				.col-sm-12
					article#demo.demo(style="display:none")
						h1 maybe looks better