article {
  padding: 10px; }
  article.hide {
    display: none; }
  article.me {
    background-color: #e74c3c; }
    article.me span.motiv {
      text-align: justify; }
    article.me span.logo {
      width: 100%; }
      article.me span.logo img {
        margin: 10px;
        width: calc(100% - 20px);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5); }
      article.me span.logo.links {
        display: block;
        text-align: center; }
    article.me img {
      width: 100%; }
    article.me ul {
      margin: 0;
      padding: 0;
      margin-top: 40px; }
      article.me ul li {
        list-style: none; }
        article.me ul li h2 a {
          color: #fefefe; }
          article.me ul li h2 a:hover {
            color: #bdc3c7;
            text-decoration: none; }
  article.banner {
    background-color: #f1c40f; }
    article.banner span.logo {
      width: 100%; }
      article.banner span.logo i {
        display: block;
        width: 95%;
        text-align: right; }
      article.banner span.logo img {
        margin: 10px;
        width: calc(100% - 20px);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5); }
    article.banner img {
      width: 100%; }

/*# sourceMappingURL=articles.css.map */
