@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100&subset=latin,latin-ext);
html {
  height: 100%; }
  html body {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.7em;
    color: #FEFEFE;
    background: #a0a0a0; }
    html body .container {
      background-color: white;
      padding: 10px; }
      html body .container div.banner {
        background-color: #16a085;
        padding: 10px 20px;
        margin-bottom: 10px; }
        html body .container div.banner h1 {
          font-weight: 700;
          margin: 20px 0;
          color: white;
          text-align: center; }
      html body .container .tile {
        position: relative;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 10px; }
        html body .container .tile:before {
          position: relative;
          display: block;
          content: "";
          width: 100%;
          padding-bottom: 100%; }
        html body .container .tile .tile-cont {
          background: none;
          overflow: hidden;
          -webkit-background-size: cover !important;
          -ms-background-size: cover !important;
          -moz-background-size: cover !important;
          -o-background-size: cover !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          color: #030303; }
          html body .container .tile .tile-cont:after {
            display: block;
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: rgba(255, 255, 255, 0.2);
            -webkit-opacity: 0;
            -ms-opacity: 0;
            -moz-opacity: 0;
            -o-opacity: 0;
            opacity: 0;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            filter: alpha(opacity=0);
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease; }
          html body .container .tile .tile-cont:hover:after, html body .container .tile .tile-cont:hover > .tile-cont-blk {
            -webkit-opacity: 1;
            -ms-opacity: 1;
            -moz-opacity: 1;
            -o-opacity: 1;
            opacity: 1; }
          html body .container .tile .tile-cont:hover > .triangle {
            background-color: rgba(255, 255, 255, 0.5);
            border-width: 0;
            border-bottom: 2px solid #fff; }
          html body .container .tile .tile-cont:hover > h3.title {
            width: 100%; }
          html body .container .tile .tile-cont.me {
            background: #e74c3c url(../img/byp_logo.png) center center;
            background-size: 40% !important; }
          html body .container .tile .tile-cont.banner {
            background: #f1c40f url(../img/logo-banners.png) center center;
            background-size: 40% !important; }
          html body .container .tile .tile-cont.demo {
            background-color: #2c3e50; }
          html body .container .tile .tile-cont h3.title {
            font-weight: 700;
            position: absolute;
            width: calc(100% - 42px);
            z-index: 10;
            color: #fff;
            border-bottom: 2px solid #fff;
            margin: 0;
            padding: 10px 0 8px 10px;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 20px;
            z-index: 2;
            transition: all 0.3s; }
            html body .container .tile .tile-cont h3.title.pincegasztro {
              font-size: 14px;
              padding-top: 12px; }
          html body .container .tile .tile-cont .triangle {
            float: right;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 42px 42px 0 0;
            border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
            transition: all 0.3s; }
          html body .container .tile .tile-cont .tile-cont-blk {
            opacity: 0;
            position: absolute;
            height: 35px;
            overflow: hidden;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.75);
            color: #fff;
            z-index: 2;
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease; }
            html body .container .tile .tile-cont .tile-cont-blk span {
              display: block;
              padding: 0 25px 0 10px;
              line-height: 35px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap; }
              html body .container .tile .tile-cont .tile-cont-blk span p {
                margin: 0; }
              html body .container .tile .tile-cont .tile-cont-blk span i.icons {
                background-image: none !important;
                font-family: "FontAwesome";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-decoration: none; }
                html body .container .tile .tile-cont .tile-cont-blk span i.icons:before {
                  content: "";
                  right: 10px;
                  position: absolute; }

/*# sourceMappingURL=base.css.map */
