#banner .banners .carousel .carousel-inner {
  width: 710px;
  height: 312px;
  float: right;
  background-color: white; }
  #banner .banners .carousel .carousel-inner .item {
    height: 100%; }
    #banner .banners .carousel .carousel-inner .item.n1 {
      background: url(../img/patterns/footer_lodyas.png) repeat; }
      #banner .banners .carousel .carousel-inner .item.n1 .safe {
        position: relative;
        width: 220px;
        top: 30px;
        left: 30px; }
      #banner .banners .carousel .carousel-inner .item.n1 .carousel-caption {
        border-right: 5px solid white; }
        #banner .banners .carousel .carousel-inner .item.n1 .carousel-caption .alt {
          color: #c0392b; }
    #banner .banners .carousel .carousel-inner .item.n2 {
      background: #45484d;
      background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #45484d), color-stop(100%, black));
      background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: -o-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: -ms-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: radial-gradient(ellipse at center, #45484d 0%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); }
      #banner .banners .carousel .carousel-inner .item.n2 .safe {
        position: relative;
        width: 220px;
        top: 30px;
        left: 470px; }
      #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption {
        border-top: 5px solid #3498db;
        width: 65%;
        left: 10px;
        right: initial; }
        #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption h3 {
          text-align: left; }
        #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption .text {
          float: left;
          text-align: left; }
        #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption .alt {
          color: #3498db; }
    #banner .banners .carousel .carousel-inner .item.n3 {
      background: #1abc9c; }
      #banner .banners .carousel .carousel-inner .item.n3 .safe {
        position: relative;
        width: 315px;
        top: 10px;
        left: 10px; }
      #banner .banners .carousel .carousel-inner .item.n3 .carousel-caption {
        width: 100%; }
        #banner .banners .carousel .carousel-inner .item.n3 .carousel-caption .alt {
          color: #34495e; }
    #banner .banners .carousel .carousel-inner .item.n4 {
      background: url(../img/patterns/JagoDunya_Texture-wall-cracks-creative-background-wallpaper-11.jpg);
      background-size: 75%;
      background-position: center center; }
      #banner .banners .carousel .carousel-inner .item.n4 .safe {
        position: relative;
        width: 115px;
        top: 20px;
        left: 20px; }
      #banner .banners .carousel .carousel-inner .item.n4 .carousel-caption {
        width: 75%;
        border: 3px solid #e67e22;
        border-left: 0;
        border-right: 0;
        border-radius: 25px; }
        #banner .banners .carousel .carousel-inner .item.n4 .carousel-caption .alt {
          color: red; }
    #banner .banners .carousel .carousel-inner .item.n5 {
      background: url(../img/patterns/main_background.jpg);
      background-size: 100%; }
      #banner .banners .carousel .carousel-inner .item.n5 .safe {
        position: relative;
        width: 95%;
        top: 50px;
        margin: 0 auto; }
      #banner .banners .carousel .carousel-inner .item.n5 .carousel-caption {
        width: 100%;
        border: 3px solid #bdc3c7;
        border-left: 0;
        border-right: 0;
        right: initial; }
        #banner .banners .carousel .carousel-inner .item.n5 .carousel-caption h3,
        #banner .banners .carousel .carousel-inner .item.n5 .carousel-caption .text {
          text-align: left;
          float: initial; }
  #banner .banners .carousel .carousel-inner .carousel-caption {
    width: 50%;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    left: initial;
    background-color: rgba(211, 84, 0, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.pumpkin {
      background-color: rgba(211, 84, 0, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.nephritis {
      background-color: rgba(39, 174, 96, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.wisteria {
      background-color: rgba(142, 68, 173, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.black {
      background-color: rgba(0, 0, 0, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.gray {
      background-color: rgba(200, 200, 200, 0.2); }
    #banner .banners .carousel .carousel-inner .carousel-caption.asbestos {
      background-color: #7f8c8d; }
    #banner .banners .carousel .carousel-inner .carousel-caption p {
      margin-bottom: 0; }
    #banner .banners .carousel .carousel-inner .carousel-caption h3 {
      text-align: right;
      margin-top: 10px;
      font-size: 22px; }
    #banner .banners .carousel .carousel-inner .carousel-caption .text {
      float: right;
      text-align: right;
      font-size: 12px; }
      #banner .banners .carousel .carousel-inner .carousel-caption .text .alt {
        font-size: 16px; }
      #banner .banners .carousel .carousel-inner .carousel-caption .text .bold {
        font-weight: bold; }
      #banner .banners .carousel .carousel-inner .carousel-caption .text a {
        display: inline-block;
        padding: 0px 10px;
        background-color: #16a085;
        text-shadow: initial;
        color: white; }
        #banner .banners .carousel .carousel-inner .carousel-caption .text a:hover {
          background-color: rgba(22, 160, 133, 0.8); }
#banner .banners .carousel .carousel-control {
  width: 40px;
  background: rgba(44, 62, 80, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-shadow: initial; }
  #banner .banners .carousel .carousel-control:hover {
    background: rgba(44, 62, 80, 0.4);
    color: rgba(255, 255, 255, 0.8); }
#banner .banners .carousel .carousel-indicators {
  display: -webkit-flex;
  position: initial;
  width: 50%;
  height: 20px;
  padding-left: 0;
  margin: 5px 0;
  text-align: center;
  list-style: none;
  position: absolute;
  top: 1%;
  left: 49%; }
  #banner .banners .carousel .carousel-indicators .active {
    background-color: #ecf0f1; }
  #banner .banners .carousel .carousel-indicators li {
    -webkit-flex: 1 0 0px;
    border-radius: 0;
    display: inline-block;
    height: 10px;
    margin: 0;
    margin-right: 3px;
    cursor: pointer;
    background-color: rgba(236, 240, 241, 0.6);
    border-radius: 5px;
    border: 0; }
    #banner .banners .carousel .carousel-indicators li:hover {
      background-color: #ecf0f1; }
    #banner .banners .carousel .carousel-indicators li:last-child {
      margin-right: 0;
      border-radius: 5px 0 0 5px; }
    #banner .banners .carousel .carousel-indicators li:first-child {
      border-radius: 0 5px 5px 0; }

/*# sourceMappingURL=carousel.css.map */
