@charset "UTF-8";
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100&subset=latin,latin-ext);
html {
  height: 100%; }
  html body {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.7em;
    color: #FEFEFE;
    background: #a0a0a0; }
    html body .container {
      background-color: white;
      padding: 10px; }
      html body .container div.banner {
        background-color: #16a085;
        padding: 10px 20px;
        margin-bottom: 10px; }
        html body .container div.banner h1 {
          font-weight: 700;
          margin: 20px 0;
          color: white;
          text-align: center; }
      html body .container .tile {
        position: relative;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 10px; }
        html body .container .tile:before {
          position: relative;
          display: block;
          content: "";
          width: 100%;
          padding-bottom: 100%; }
        html body .container .tile .tile-cont {
          background: none;
          overflow: hidden;
          -webkit-background-size: cover !important;
          -ms-background-size: cover !important;
          -moz-background-size: cover !important;
          -o-background-size: cover !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          color: #030303; }
          html body .container .tile .tile-cont:after {
            display: block;
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: rgba(255, 255, 255, 0.2);
            -webkit-opacity: 0;
            -ms-opacity: 0;
            -moz-opacity: 0;
            -o-opacity: 0;
            opacity: 0;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            filter: alpha(opacity=0);
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease; }
          html body .container .tile .tile-cont:hover:after, html body .container .tile .tile-cont:hover > .tile-cont-blk {
            -webkit-opacity: 1;
            -ms-opacity: 1;
            -moz-opacity: 1;
            -o-opacity: 1;
            opacity: 1; }
          html body .container .tile .tile-cont:hover > .triangle {
            background-color: rgba(255, 255, 255, 0.5);
            border-width: 0;
            border-bottom: 2px solid #fff; }
          html body .container .tile .tile-cont:hover > h3.title {
            width: 100%; }
          html body .container .tile .tile-cont.me {
            background: #e74c3c url(../img/byp_logo.png) center center;
            background-size: 40% !important; }
          html body .container .tile .tile-cont.banner {
            background: #f1c40f url(../img/logo-banners.png) center center;
            background-size: 40% !important; }
          html body .container .tile .tile-cont.demo {
            background-color: #2c3e50; }
          html body .container .tile .tile-cont h3.title {
            font-weight: 700;
            position: absolute;
            width: calc(100% - 42px);
            z-index: 10;
            color: #fff;
            border-bottom: 2px solid #fff;
            margin: 0;
            padding: 10px 0 8px 10px;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 20px;
            z-index: 2;
            transition: all 0.3s; }
            html body .container .tile .tile-cont h3.title.pincegasztro {
              font-size: 14px;
              padding-top: 12px; }
          html body .container .tile .tile-cont .triangle {
            float: right;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 42px 42px 0 0;
            border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
            transition: all 0.3s; }
          html body .container .tile .tile-cont .tile-cont-blk {
            opacity: 0;
            position: absolute;
            height: 35px;
            overflow: hidden;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.75);
            color: #fff;
            z-index: 2;
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease; }
            html body .container .tile .tile-cont .tile-cont-blk span {
              display: block;
              padding: 0 25px 0 10px;
              line-height: 35px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap; }
              html body .container .tile .tile-cont .tile-cont-blk span p {
                margin: 0; }
              html body .container .tile .tile-cont .tile-cont-blk span i.icons {
                background-image: none !important;
                font-family: "FontAwesome";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-decoration: none; }
                html body .container .tile .tile-cont .tile-cont-blk span i.icons:before {
                  content: "";
                  right: 10px;
                  position: absolute; }

article {
  padding: 10px; }
  article.hide {
    display: none; }
  article.me {
    background-color: #e74c3c; }
    article.me span.motiv {
      text-align: justify; }
    article.me span.logo {
      width: 100%; }
      article.me span.logo img {
        margin: 10px;
        width: calc(100% - 20px);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5); }
      article.me span.logo.links {
        display: block;
        text-align: center; }
    article.me img {
      width: 100%; }
    article.me ul {
      margin: 0;
      padding: 0;
      margin-top: 40px; }
      article.me ul li {
        list-style: none; }
        article.me ul li h2 a {
          color: #fefefe; }
          article.me ul li h2 a:hover {
            color: #bdc3c7;
            text-decoration: none; }
  article.banner {
    background-color: #f1c40f; }
    article.banner span.logo {
      width: 100%; }
      article.banner span.logo i {
        display: block;
        width: 95%;
        text-align: right; }
      article.banner span.logo img {
        margin: 10px;
        width: calc(100% - 20px);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5); }
    article.banner img {
      width: 100%; }

#banner .banners .carousel .carousel-inner {
  width: 710px;
  height: 312px;
  float: right;
  background-color: white; }
  #banner .banners .carousel .carousel-inner .item {
    height: 100%; }
    #banner .banners .carousel .carousel-inner .item.n1 {
      background: url(../img/patterns/footer_lodyas.png) repeat; }
      #banner .banners .carousel .carousel-inner .item.n1 .safe {
        position: relative;
        width: 220px;
        top: 30px;
        left: 30px; }
      #banner .banners .carousel .carousel-inner .item.n1 .carousel-caption {
        border-right: 5px solid white; }
        #banner .banners .carousel .carousel-inner .item.n1 .carousel-caption .alt {
          color: #c0392b; }
    #banner .banners .carousel .carousel-inner .item.n2 {
      background: #45484d;
      background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #45484d), color-stop(100%, black));
      background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: -o-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: -ms-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
      background: radial-gradient(ellipse at center, #45484d 0%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); }
      #banner .banners .carousel .carousel-inner .item.n2 .safe {
        position: relative;
        width: 220px;
        top: 30px;
        left: 470px; }
      #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption {
        border-top: 5px solid #3498db;
        width: 65%;
        left: 10px;
        right: initial; }
        #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption h3 {
          text-align: left; }
        #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption .text {
          float: left;
          text-align: left; }
        #banner .banners .carousel .carousel-inner .item.n2 .carousel-caption .alt {
          color: #3498db; }
    #banner .banners .carousel .carousel-inner .item.n3 {
      background: #1abc9c; }
      #banner .banners .carousel .carousel-inner .item.n3 .safe {
        position: relative;
        width: 315px;
        top: 10px;
        left: 10px; }
      #banner .banners .carousel .carousel-inner .item.n3 .carousel-caption {
        width: 100%; }
        #banner .banners .carousel .carousel-inner .item.n3 .carousel-caption .alt {
          color: #34495e; }
    #banner .banners .carousel .carousel-inner .item.n4 {
      background: url(../img/patterns/JagoDunya_Texture-wall-cracks-creative-background-wallpaper-11.jpg);
      background-size: 75%;
      background-position: center center; }
      #banner .banners .carousel .carousel-inner .item.n4 .safe {
        position: relative;
        width: 115px;
        top: 20px;
        left: 20px; }
      #banner .banners .carousel .carousel-inner .item.n4 .carousel-caption {
        width: 75%;
        border: 3px solid #e67e22;
        border-left: 0;
        border-right: 0;
        border-radius: 25px; }
        #banner .banners .carousel .carousel-inner .item.n4 .carousel-caption .alt {
          color: red; }
    #banner .banners .carousel .carousel-inner .item.n5 {
      background: url(../img/patterns/main_background.jpg);
      background-size: 100%; }
      #banner .banners .carousel .carousel-inner .item.n5 .safe {
        position: relative;
        width: 95%;
        top: 50px;
        margin: 0 auto; }
      #banner .banners .carousel .carousel-inner .item.n5 .carousel-caption {
        width: 100%;
        border: 3px solid #bdc3c7;
        border-left: 0;
        border-right: 0;
        right: initial; }
        #banner .banners .carousel .carousel-inner .item.n5 .carousel-caption h3,
        #banner .banners .carousel .carousel-inner .item.n5 .carousel-caption .text {
          text-align: left;
          float: initial; }
  #banner .banners .carousel .carousel-inner .carousel-caption {
    width: 50%;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    left: initial;
    background-color: rgba(211, 84, 0, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.pumpkin {
      background-color: rgba(211, 84, 0, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.nephritis {
      background-color: rgba(39, 174, 96, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.wisteria {
      background-color: rgba(142, 68, 173, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.black {
      background-color: rgba(0, 0, 0, 0.5); }
    #banner .banners .carousel .carousel-inner .carousel-caption.gray {
      background-color: rgba(200, 200, 200, 0.2); }
    #banner .banners .carousel .carousel-inner .carousel-caption.asbestos {
      background-color: #7f8c8d; }
    #banner .banners .carousel .carousel-inner .carousel-caption p {
      margin-bottom: 0; }
    #banner .banners .carousel .carousel-inner .carousel-caption h3 {
      text-align: right;
      margin-top: 10px;
      font-size: 22px; }
    #banner .banners .carousel .carousel-inner .carousel-caption .text {
      float: right;
      text-align: right;
      font-size: 12px; }
      #banner .banners .carousel .carousel-inner .carousel-caption .text .alt {
        font-size: 16px; }
      #banner .banners .carousel .carousel-inner .carousel-caption .text .bold {
        font-weight: bold; }
      #banner .banners .carousel .carousel-inner .carousel-caption .text a {
        display: inline-block;
        padding: 0px 10px;
        background-color: #16a085;
        text-shadow: initial;
        color: white; }
        #banner .banners .carousel .carousel-inner .carousel-caption .text a:hover {
          background-color: rgba(22, 160, 133, 0.8); }
#banner .banners .carousel .carousel-control {
  width: 40px;
  background: rgba(44, 62, 80, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-shadow: initial; }
  #banner .banners .carousel .carousel-control:hover {
    background: rgba(44, 62, 80, 0.4);
    color: rgba(255, 255, 255, 0.8); }
#banner .banners .carousel .carousel-indicators {
  display: -webkit-flex;
  position: initial;
  width: 50%;
  height: 20px;
  padding-left: 0;
  margin: 5px 0;
  text-align: center;
  list-style: none;
  position: absolute;
  top: 1%;
  left: 49%; }
  #banner .banners .carousel .carousel-indicators .active {
    background-color: #ecf0f1; }
  #banner .banners .carousel .carousel-indicators li {
    -webkit-flex: 1 0 0px;
    border-radius: 0;
    display: inline-block;
    height: 10px;
    margin: 0;
    margin-right: 3px;
    cursor: pointer;
    background-color: rgba(236, 240, 241, 0.6);
    border-radius: 5px;
    border: 0; }
    #banner .banners .carousel .carousel-indicators li:hover {
      background-color: #ecf0f1; }
    #banner .banners .carousel .carousel-indicators li:last-child {
      margin-right: 0;
      border-radius: 5px 0 0 5px; }
    #banner .banners .carousel .carousel-indicators li:first-child {
      border-radius: 0 5px 5px 0; }

@media (max-width: 480px) {
  .header {
    background-position: 0 -25px; }

  ul.main-menu li {
    display: block; }

  ul.main-menu li:before {
    content: "";
    margin-right: 0; }

  ul.main-menu li a {
    display: block; }

  .tile.t2b1 {
    padding-right: 10px; }

  .tile.t2b1:before {
    padding-bottom: 50%; } }
@media (max-width: 992px) {
  .header {
    background-position: 0 -75px; }

  .social {
    display: none; }

  #signup form ul li,
  #register form ul li {
    width: 75%;
    text-align: center; }
  #signup .input-group,
  #register .input-group {
    width: 75%; } }
@media (max-width: 768px) {
  .header {
    background-position: 0 -50px; }

  .tile-cont-blk {
    -webkit-opacity: 1 !important;
    -ms-opacity: 1 !important;
    -moz-opacity: 1 !important;
    -o-opacity: 1 !important;
    opacity: 1 !important; }

  .tile.t2b1 {
    padding-right: 10px; }

  .tile.t2b1:before {
    padding-bottom: 50%; }

  .container .tile .tile-cont.sajto {
    background-position: 0 0 !important; } }
@media (min-width: 768px) {
  .container {
    width: 730px; }

  .tile.h05:before {
    padding-bottom: 50% !important; }

  .tile.t1b1:before {
    padding-bottom: 100%; }

  .tile.t2b1 {
    padding-right: 10px; }

  .tile.t2b1:before {
    padding-bottom: 50%; }

  .tile.mid-t2b1 {
    padding-right: 6px; }

  .tile.mid-t2b1:before {
    padding-bottom: 66.66667%; }

  .tile.t1b2:before {
    padding-top: 10px;
    padding-bottom: 200%; }

  .tile.t3b1 {
    padding-right: 20px; }

  .tile.t3b1:before {
    padding-bottom: 33.33%; }

  .tile.t3b05 {
    padding-right: 20px; }

  .tile.t3b05:before {
    padding-bottom: 16%; }

  .tile.t-unique-percent-1 {
    padding-right: 20px; }

  .tile.t-unique-percent-1:before {
    padding-bottom: 127%; }

  .tile.t-unique-percent-2 {
    padding-right: 20px; }

  .tile.t-unique-percent-2:before {
    padding-bottom: 77%; }

  .tile.t-unique-percent-3 {
    padding-right: 20px; }

  .tile.t-unique-percent-3:before {
    padding-bottom: 55%; } }
@media (min-width: 992px) {
  .container {
    width: 950px; }

  .tile.t-unique-percent-1 {
    padding-right: 20px; }

  .tile.t-unique-percent-1:before {
    padding-bottom: 125%; }

  .tile.t-unique-percent-3 {
    padding-right: 20px; }

  .tile.t-unique-percent-3:before {
    padding-bottom: 56%; } }
@media (min-width: 1200px) {
  .container {
    width: 1040px; }

  .tile.t-unique-percent-1 {
    padding-right: 20px; }

  .tile.t-unique-percent-1:before {
    padding-bottom: 123%; }

  .tile.t-unique-percent-3 {
    padding-right: 20px; }

  .tile.t-unique-percent-3:before {
    padding-bottom: 55%; } }

/*# sourceMappingURL=main.css.map */
