@import 'colors'

article
	padding: 10px
	
	&.hide
		display: none
	
	&.me
		background-color: $alizarin
		
		span.motiv
			text-align: justify

		span.logo
			width: 100%

			img
				margin: 10px
				width: calc(100% - 20px)
				border-radius: 50%
				background-color: rgba($white, .5)

			&.links
				display: block
				text-align: center

		img
			width: 100%	
		
		ul
			margin: 0
			padding: 0
			margin-top: 40px

			li
				list-style: none

				h2
					a
						color: #fefefe

						&:hover
							color: $silver
							text-decoration: none

	&.banner
		background-color: $sunflower

		span.logo
			width: 100%

			i
				display: block
				width: 95%
				text-align: right

			img
				margin: 10px
				width: calc(100% - 20px)
				border-radius: 50%
				background-color: rgba($white, .5)

		img
			width: 100%