@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100&subset=latin,latin-ext)

@import 'mixin'
@import 'colors'
$green: #8ac007

html
	height: 100%

	body
		font-family: 'Roboto Slab', serif
		font-weight: 400
		font-size: 1.7em
		color: #FEFEFE
		background: rgb(160,160,160)
		// background: -moz-linear-gradient(top,  rgba(160,160,160,1) 0%, rgba(229,229,229,1) 35%, rgba(239,239,239,1) 100%)
		// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,1)), color-stop(35%,rgba(229,229,229,1)), color-stop(100%,rgba(239,239,239,1)))
		// background: -webkit-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(229,229,229,1) 35%,rgba(239,239,239,1) 100%)
		// background: -o-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(229,229,229,1) 35%,rgba(239,239,239,1) 100%)
		// background: -ms-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(229,229,229,1) 35%,rgba(239,239,239,1) 100%)
		// background: linear-gradient(to bottom,  rgba(160,160,160,1) 0%,rgba(229,229,229,1) 35%,rgba(239,239,239,1) 100%)
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#efefef',GradientType=0 )

		.container
			background-color: white
			padding: 10px

			div.banner
				background-color: $greensea
				padding: 10px 20px
				margin-bottom: 10px

				h1
					font-weight: 700
					margin: 20px 0
					color: white
					text-align: center

			.tile
				position: relative
				+vendor-prefix(box-sizing, border-box)
				margin-bottom: 10px

				&:before
					position: relative
					display: block
					content: ''
					width: 100%
					padding-bottom: 100%
				
				.tile-cont
					background: none
					overflow: hidden
					+vendor-prefix(background-size, cover !important)
					background-repeat: no-repeat !important
					background-position: center center !important
					position: absolute
					top: 0
					bottom: 0
					left: 0
					right: 0
					color: #030303

					&:after
						display: block
						content: ''
						position: absolute
						top: 0px
						right: 0px
						bottom: 0px
						left: 0px
						background: rgba(255, 255, 255, 0.2)
						+vendor-prefix(opacity, 0)
						-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
						filter: alpha(opacity=0)
						+vendor-transition(opacity, .5s, ease)

					&:hover:after,
					&:hover > .tile-cont-blk
						+vendor-prefix(opacity, 1)

					&:hover > .triangle
						// height: 42px
						// width: 42px
						background-color: rgba($white, .5)
						border-width: 0
						border-bottom: 2px solid #fff

					&:hover > h3.title
						width: 100%

					&.me
						background: $alizarin url(../img/byp_logo.png) center center
						background-size: 40% !important

					&.banner
						background: $sunflower url(../img/logo-banners.png) center center
						background-size: 40% !important

					&.demo
						background-color: $midnightblue

					h3.title
						font-weight: 700
						position: absolute
						width: calc(100% - 42px)
						z-index: 10
						color: #fff
						border-bottom: 2px solid #fff
						margin: 0
						padding: 10px 0 8px 10px
						text-transform: uppercase
						background-color: rgba($white,.5)
						font-size: 20px
						z-index: 2

						transition: all .3s

						&.pincegasztro
							font-size: 14px
							padding-top: 12px
			
						// &:after
							// content: ''
							// display: inline-block
							// position: absolute
							// height: 100%
							// width: 15px
							// top: 0
							// right: 0
							// background: rgba(255,255,255,.3)
							// border-right: 5px solid rgba(255,255,255,.6)

					.triangle
						float: right
						width: 0
						height: 0
						border-style: solid
						border-width: 42px 42px 0 0
						border-color: rgba($white,.5) transparent transparent transparent

						transition: all .3s

					.tile-cont-blk
						opacity: 0
						position: absolute
						height: 35px
						overflow: hidden
						bottom: 0
						left: 0
						right: 0
						background: rgba(0,0,0,.75)
						color: #fff
						z-index: 2
						+vendor-transition(opacity, .5s, ease)

						span
							display: block
							padding: 0 25px 0 10px
							line-height: 35px
							text-overflow: ellipsis
							overflow: hidden
							white-space: nowrap

							p
								margin: 0

							i.icons
								background-image: none !important
								font-family: "FontAwesome"
								speak: none
								font-style: normal
								font-weight: normal
								font-variant: normal
								text-transform: none
								text-decoration: none

								&:before
									content: "\f0fe"
									right: 10px
									position: absolute