@import 'colors'
$green: #8ac007

#banner
	
	.banners

		.carousel

			.carousel-inner
				width: 710px
				height: 312px
				float: right
				background-color: $white

				.item
					height: 100%

					&.n1
						background: url(../img/patterns/footer_lodyas.png) repeat

						.safe
							position: relative
							width: 220px
							top: 30px
							left: 30px

						.carousel-caption
							border-right: 5px solid white

							.alt
								color: $pomegranate

					&.n2
						//background: url(../img/patterns/footer_lodyas.png) repeat

						background: rgb(69,72,77) /* Old browsers */
						background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%) /* FF3.6+ */
						background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))) /* Chrome,Safari4+ */
						background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) /* Chrome10+,Safari5.1+ */
						background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) /* Opera 12+ */
						background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) /* IE10+ */
						background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */

						.safe
							position: relative
							width: 220px
							top: 30px
							left: 470px

						.carousel-caption
							border-top: 5px solid $peterriver
							width: 65%
							left: 10px
							right: initial

							h3
								text-align: left

							.text
								float: left
								text-align: left

							.alt	
								color: $peterriver
					
					&.n3
						background: $turquoise
						
						.safe
							position: relative
							width: 315px
							top: 10px
							left: 10px

						.carousel-caption
							width: 100%

							.alt
								color: $wetasphalt

					&.n4
						background: url(../img/patterns/JagoDunya_Texture-wall-cracks-creative-background-wallpaper-11.jpg)
						background-size: 75%
						background-position: center center

						.safe
							position: relative
							width: 115px
							top: 20px
							left: 20px

						.carousel-caption
							width: 75%
							border: 3px solid $carrot
							border-left: 0
							border-right: 0
							border-radius: 25px

							.alt
								color: red

					&.n5
						background: url(../img/patterns/main_background.jpg)
						background-size: 100%

						.safe
							position: relative
							width: 95%
							top: 50px
							margin: 0 auto

						.carousel-caption
							width: 100%
							border: 3px solid $silver
							border-left: 0
							border-right: 0
							right: initial

							h3,
							.text
								text-align: left
								float: initial
				
				.carousel-caption
					width: 50%
					padding: 10px
					bottom: 10px
					right: 10px
					left: initial
					background-color: rgba($pumpkin, .5)

					&.pumpkin
						background-color: rgba($pumpkin, .5)
					&.nephritis
						background-color: rgba($nephritis, .5)
					&.wisteria
						background-color: rgba($wisteria, .5)
					&.black
						background-color: rgba(0,0,0, .5)
					&.gray
						background-color: rgba(200, 200, 200, .2)
					&.asbestos
						background-color: $asbestos


					p
						margin-bottom: 0

					h3
						text-align: right
						margin-top: 10px
						font-size: 22px

					.text
						float: right
						text-align: right
						font-size: 12px

						.alt
							font-size: 16px

						.bold
							font-weight: bold

						a
							display: inline-block
							padding: 0px 10px
							background-color: $greensea
							text-shadow: initial
							color: white

							&:hover
								background-color: rgba($greensea, .8)

			.carousel-control
				width: 40px
				background: rgba($midnightblue, .2)
				color: rgba(white, .5)
				text-shadow: initial

				&:hover
					background: rgba($midnightblue, .4)
					color: rgba(white, .8)

			.carousel-indicators
				display: -webkit-flex
				position: initial
				width: 50%
				height: 20px
				padding-left: 0
				margin: 5px 0
				text-align: center
				list-style: none
				// float: right
				position: absolute
				top: 1%
				left: 49%

				.active
					background-color: $clouds

				li
					-webkit-flex: 1 0 0px
					border-radius: 0
					display: inline-block
					height: 10px
					margin: 0
					margin-right: 3px
					cursor: pointer
					background-color: rgba($clouds, .6)
					border-radius: 5px
					border: 0

					&:hover
						background-color: $clouds

					&:last-child
						margin-right: 0
						border-radius: 5px 0 0 5px

					&:first-child
						border-radius: 0 5px 5px 0
