@import 'mixin'

@media (max-width: 480px) 
	.header
		background-position: 0 -25px
	
	ul.main-menu li
		display: block

	ul.main-menu li:before
		content: ""
		margin-right: 0

	ul.main-menu li a
		display: block
	
	.tile.t2b1
		padding-right: 10px
	
	.tile.t2b1:before
		padding-bottom: 50%

@media (max-width: 992px)
	.header
		background-position: 0 -75px

	.social
		display: none

	#signup,
	#register
		form
			ul
				li
					width: 75%
					text-align: center

		.input-group
			width: 75%

@media (max-width: 768px)
	.header
		background-position: 0 -50px

	.tile-cont-blk
		+vendor-prefix(opacity, 1 !important)

	.tile.t2b1
		padding-right: 10px
	
	.tile.t2b1:before
		padding-bottom: 50%

	.container .tile .tile-cont.sajto
		background-position: 0 0 !important

@media (min-width: 768px)
	.container
		width: 730px
	
	.tile.h05:before
		padding-bottom: 50% !important

	.tile.t1b1:before
		padding-bottom: 100%
	
	.tile.t2b1
		padding-right: 10px
	
	.tile.t2b1:before
		padding-bottom: 50%
	
	.tile.mid-t2b1
		padding-right: 6px
	
	.tile.mid-t2b1:before
		padding-bottom: 66.666666%
	
	.tile.t1b2:before
		padding-top: 10px
		padding-bottom: 200%
	
	.tile.t3b1
		padding-right: 20px
	
	.tile.t3b1:before
		padding-bottom: 33.33%

	.tile.t3b05
		padding-right: 20px
	
	.tile.t3b05:before
		padding-bottom: 16%

	.tile.t-unique-percent-1
		padding-right: 20px
	
	.tile.t-unique-percent-1:before
		padding-bottom: 127%
	
	.tile.t-unique-percent-2
		padding-right: 20px
	
	.tile.t-unique-percent-2:before
		padding-bottom: 77%

	.tile.t-unique-percent-3
		padding-right: 20px

	.tile.t-unique-percent-3:before
		padding-bottom: 55%

@media (min-width: 992px)
	.container
		width: 950px

	.tile.t-unique-percent-1
		padding-right: 20px
	
	.tile.t-unique-percent-1:before
		padding-bottom: 125%

	.tile.t-unique-percent-3
		padding-right: 20px

	.tile.t-unique-percent-3:before
		padding-bottom: 56%

@media (min-width: 1200px)
	.container
		width: 1040px

	.tile.t-unique-percent-1
		padding-right: 20px
	
	.tile.t-unique-percent-1:before
		padding-bottom: 123%

	.tile.t-unique-percent-3
		padding-right: 20px

	.tile.t-unique-percent-3:before
		padding-bottom: 55%