= vendor-prefix($name, $argument)
	-webkit-#{$name}: #{$argument}
	-ms-#{$name}: #{$argument}
	-moz-#{$name}: #{$argument}
	-o-#{$name}: #{$argument}
	#{$name}: #{$argument}

= vendor-transition($name, $time, $style)
	-webkit-transition: #{$name} #{$time} #{$style}
	-moz-transition: #{$name} #{$time} #{$style}
	transition: #{$name} #{$time} #{$style}