article#banner.banner(style="display:none")
	.row
		.col-sm-12
			.row
				.col-sm-3
					span.logo
						i.icon-coverflow.icon10x
				.col-sm-9
					span.banners
						//710x312
						div#carousel-example-generic.carousel.slide.type1(data-ride="carousel")
							//Wrapper for slides
							div.carousel-inner(role="listbox")
								div.item.n1.active
									div.safe
										img(src="img/banners/TechnoBox-faliszef.png", alt="...")
									div.carousel-caption.black
										h3 Technomax TechnoBox faliszéf
										div.text
											p.alt 69 490 Ft
											p Ideális megoldás építés előtt és alatt lévő házak esetén. Kiváló feltörés elleni védelem. Készpénz, értéktárgyak és dokumentumok biztonságos tárolására. Értékhatár nélkül.
											// a(href="#") link
								
								div.item.n2
									div.safe
										img(src="img/banners/GST-ISS-Nurnberg-szamitogep-tarolo-szef0.png", alt="...")
									div.carousel-caption.gray
										h3 GST-ISS Nürnberg számítógép tároló széf
										div.text
											p.alt 31 990 Ft
											p - Fiókokba, szekrényebe könnyedén szerelhető.
											p - A4-es nagyságú dokumentum tároló rekesz a széf alsó felében.
											p - 1,5 mm vastag egyfalú, acél széftest.
											p - 3mm acél ajtó vastagság.
											p - Gyárilag kulcsos zár, 2 db kulcs. Egyéb opcionális.
											p - Rögzítő furatok a hátoldalon és az aljzaton (2+2).
								
								div.item.n3
									div.safe
										img(src="img/banners/GST-ISS-Leverkusen-tuzallo-dokumentumtarolo-butorszef.png", alt="...")
									div.carousel-caption.gray
										h3 GST-ISS Leverkusen tűzálló dokumentumtároló bútorszéf
										div.text
											p.alt 209 990 Ft
											p.bold Kiváló tűz és feltörés elleni védelem. Dokumentumok, értéktárgyak és készpénz tárolására.
											p.bold 60 perces tűzállóság papírra. 2 000 000 Ft értékhatár, riasztóba kötve duplázódik. 
											p - EN 1047-1 "S60P", MABISZ "60 perces" tűzállósági kategória papírra.
											p - EN 14450 "S2", VDMA 24992 "B", MABISZ "B" feltörési kategória.
											p - Gyárilag kéttollú kulcsos zár (2 db kulcs), egyéb opcionálisan.
											p - Belső állítható polc.
											p - Többfalú, 95 mm vastag, 180°-ban nyíló széfajtó. Többfalú széftest.
								
								div.item.n4
									div.safe
										img(src="img/banners/Technomax-Galaxy-F-uvegezett--fegyverszekreny.png", alt="...")
									div.carousel-caption.gray
										h3 Technomax Galaxy F üvegezett fegyverszekrény
										div.text
											p.alt 557 990 Ft
											p.bold Fegyverek (puskák) bemutatására.
											p.bold 2 000 000 Ft értékhatár, riasztóba kötve duplázódik.
											p - MABISZ "B" kategóriájú minősítés.
											p - Acél szerkezet, 19 mm vastag, könnyebb mechanikus támadásnak (UNI 9186) és golyónak ellenálló (UNI 9187, A osztály) biztonsági üveg.											p - Fegyverhelyek, fa talapzat.
											p - Fúrásnak ellenálló biztonsági cilinderzár.
											p - 1 db üvegből készült polc. 2 db spotlámpa a szekrény felső részében.
											p - 3 oldalról 19 mm vastag biztonsági üveg.
											p - 180°-ban nyíló széfajtó, takart zsanérok.
								
								div.item.n5
									div.safe
										img(src="img/banners/kulcstarolo-szefek.png", alt="...")
									div.carousel-caption.asbestos
										h3 Kulcstároló széfek
										div.text
											p.bold Biztonságos tárolás
											p Kulcstároló széfeinket elsősorban beltérre ajánljuk. Ideális megoldás a vésznyitó kulcsok biztonságos elhelyezéséhez
											p Biztonságosan tárolható: kulcsok


								//Indicators
								ol.carousel-indicators
									li.active(data-target="#carousel-example-generic" data-slide-to="0")
									li(data-target="#carousel-example-generic" data-slide-to="1")
									li(data-target="#carousel-example-generic" data-slide-to="2")
									li(data-target="#carousel-example-generic" data-slide-to="3")
									li(data-target="#carousel-example-generic" data-slide-to="4")