title Széfguru - demo oldal
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
script(type="text/javascript" charset="utf-8" src="js/main.js")
script(type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")