article#me.me(style="display:none")
	.row
		.col-sm-12
			.row
				.col-sm-3
					span.logo
						img(src="img/person-placeholder.jpg", alt="logo")
				.col-sm-9
					span.motiv
						p A Nyomdai Kép- és Szövegszerkesztő szakmám elvégzése óta foglalkozom az aktuális trendekkel, érdekel a művészet ezen ága. Inspirál, és örömmel tölt, amikor egy kész kiadvány, grafika a nyilvánosság elé tárul, és pozitív visszajelzéseket kapok az elégedett megrendelőktől, és felhasználóktól. A negítív kritikákat előnyömre fordítom, hogy a jövöben elkerülhessem a problémákat.
						p Grafikus munkáim során óhatatlanul is belecsöppentem a webdesigner szakmába. Évek óta foglalkozom ezzel a területtel is. A minimal stílusban találtam meg azt a lehetőséget, hogy egy átlag embernek is könnyen átlátható, használható UI-t tudjak biztosítani. Nagy felelősséggel járó munkának tartom ezt a területet, hiszen akár emberek milliói láthatják, hasznáhatják az általam készített dizájnokat. Ennél inspirálóbb, izgalmasabb munka kevés van számomra, de mivel a kihívások embere vagyok, nem ódzkodok semmitől, kitartó és terhelhető vagyok.
						p Pályámat Magyarország, és Közép-Európa egyik legjobb nyomdájában, a Prospektus Nyomdában kezdtem. Itt töltöttem tanuló, és gyakornoki éveimet is. Megtanultam, hogy csak a precíz, és pontos munkavégzéssel lehet eredményeket elérni. Beleláttam, és dolgoztam is a nyomda minden területén. Ezeket a tudásokat a mai napig kamatoztatom.
						p Jelenleg egy kiadó, rendezvényszervező cégnél dolgozom, mint grafikus, webdizájner, és minden egyéb, ami szóba kerül. Bár az utóbbi időben érezhetően kevesebb munka van, referenciáim közé tartoznak szórólapok, plakátok, újságok, füzetek, könyvek, arculati kézikönyvek, egyéb nyomdai kiadványok, bannerek, CMS rendszerű honlapok karbantartása, statikus, és dinamikus honlap készítése. Évek óta aktívan részt veszek a rendezvények szervezésében, előkészítésében, építésében.
			
			.row
				.col-sm-3
					span.logo
						img(src="img/cv.jpg", alt="CV")
				.col-sm-9
					a(href="dl/RZ_CV_2015.pdf")
						img(src="img/RZ_CV_2015.jpg?new", alt="CV")

			.row
				.col-sm-3
					span.logo.links
						i.icon-link.icon10x
				.col-sm-9
					ul
						li
							h2
								a(href="http://koccintas.hu" target="_blank") koccintas.hu
							span dinamikus oldal, php, mysql, jquery, bootstrap (folyamatosan fejlesztés alatt)
						li
							h2
								a(href="http://linedesign.hu" target="_blank") linedesign.hu
							span statikus oldal, némi jquery
						li
							h2
								a(href="http://kaland-var.hu" target="_blank") kaland-var.hu
							span teljesen statikus oldal, bootstrap
						
						//hr? rly? omg...
						hr
						
						//a gagyik...
						li
							h2
								a(href="http://mienkavar.hu" target="_blank") mienkavar.hu
							span joomla, némi jquery, egyedi banner
						
						li
							h2
								a(href="http://epiteszethonapja.com/" target="_blank") epiteszethonapja.com
							span joomla...
						li
							h2
								a(href="http://kadarkaszalon.hu/" target="_blank") kadarkaszalon.hu
							span joomla...
						li
							h2
								a(href="http://partybor.hu/" target="_blank") partybor.hu
							span joomla...
